<h3>Registro de nuevo usuarios</h3>
<%= form_with(model: @user, local: true) do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>

<%= form.label :email %>
<%= form.text_field :email %>

<%= form.label :password %>
<%= form.password_field :password %>

<br>
<%= form.submit 'Enviar' %>
<%#formulario va a create%>
<% end %>